<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoldas.app.bitirme">

    <!-- ✅ Konum izinleri -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- (Varsa) Diğer izinler -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
